body {
	min-width: 100%;
	padding: 1px;
}
header {
	width: 100%;
	background-image: url("../img/background.png");
	background-size: cover;
	background-position: top center;
	margin: 0px;
	padding: 10px 20px 30px 20px;
}
#home {
	width: 360px;
	display: block;
	margin: 0px auto 0px auto;
}
#logo {
	width: 60px;
	display: block;
	margin: 24px auto 10px auto;
}
#headline {
	width: 360px;
	display: block;
	margin: 0px auto 20px auto;
}
#divider_thin {
	height: 4px;
	width: 600px;
	display: block;
	margin: 25px auto 25px auto;
}
#divider_wide {
	height: 4px;
	width: 600px;
	display: block;
	margin: 20px auto 20px auto;
}
iframe {
	display: block;
	margin: 20px auto 40px auto;
}
#white_section {
	padding: 50px 0px 50px 0px;
}
#event_links {
	width: 1020px;
	display: table;
	margin: 20px auto 10px auto;
}
.event_holder {
	display: table-cell;
	width: 340px;
	text-align: center;
}
.event_holder span {
	display: block;
}
.event_sub {
	padding: 0px 35px 0px 35px;
}
#blue_section {
	width: 100%;
	background-color: #00A6B3;
	padding: 30px 0px 10px 0px;
}
#sponsors {
	width: 637px;
	display: block;
	margin: 10px auto 30px auto;
}
#fine_print {
	width: 840px;
	display: block;
}
.intro {
	width: 820px;
	display: block;
	margin: 20px auto 20px auto;
}
#dark_gray_section {
	width: 100%;
	background-color: #2b2b2b;
	padding: 20px 0px 30px 0px;
}
#container_960 {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.center {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.spaced {
	margin-top: 10px;
	margin-bottom: 10px;
}
.alone {
	display: block;
}
.top {
	vertical-align: top;
}
.bottom {
	position: absolute;
}
.talk_holder {
	width: 960px;
	height: 304px;
	display: block;
	margin: 20px 0px 20px 10px;
	overflow: auto;
}
.word_holder {
	display: inline-block;
	width: 510px;
	height: 300px;
	margin: 0px 30px 0px 0px;
	vertical-align: top;
}
.small_vid {
	display: inline-block;
	width: 360px;
	height: 270px;
	margin: 0px;
}
.talk_title {
	display: block;
	margin: 0px 0px 10px 0px;
}
.talk {
	width: 320px;
	padding: 0px 31px 0px 30px;
	display: table-cell;
	vertical-align: bottom;
}
.speaker_holder {
	display: block;
	margin-bottom: 10px;
}
.speaker {
	display: inline-block;
	margin: 0px 15px 2px 0px;
}
#first_vid {
	display: block;
	margin: 0px auto 20px auto;
}
#all_buttons {
	display: inline-block;
}
.button_holder {
	display: block;
}
.control_containers {
	height: 50px;
	margin: 10px 0px 10px 10px;
	display: block;
	overflow: auto;
}
.control_label {
	width: 80px;
	margin: 0px 5px 0px 0px;
	vertical-align: center;
}