
/*----------------------------------------------------------------------*/
/*-----------------------------Text styling-----------------------------*/
a {
	text-decoration: none;
}
.white {
	color: white;
}
.blue {
	color: #1BCFE0;
}
.dark_blue {
	color: #0B728B;
}
.light_blue {
	color: #7FC1C0;
}
.orange {
	color: #F17525;
}
.light_gray {
	color: #CECECE;
}
.red {
	color: #FF8080;
}
.green {
	color: #87DE87;
}
.gray {
	color: #A8A8A8;
}
.black {
	color: black;
}
.dark {
	opacity: .5;
}
.tiny {
	font-size: 10pt;
}
.small {
	font-size: 12pt;
}
.smedium {
	font-size: 14pt;
}
.medium {
	font-size: 16pt;
}
.large {
	font-size: 22pt;
}
.huge {
	font-size: 24pt;
}
.roboto {
	font-family: 'Roboto Slab'; serif;
}
.mont {
	font-family: 'Montserrat'; sans-serif;
}
.r_light {
	font-family: 'Raleway'; sans-serif;
	font-weight: 300;
	letter-spacing: .5px;
}
.r_med {
	font-family: 'Raleway'; sans-serif;
	font-weight: 500;
	letter-spacing: .75px;
}
.r_bold {
	font-family: 'Raleway'; sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}
.r_ital {
	font-family: 'Raleway'; sans-serif;
	font-weight: 400;
	font-size: 14pt;
	font-style: italic;
	letter-spacing: .5px;
	margin: 0px auto 5px auto;
}
.montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 25pt;
	color: white;
}
.shady {
	text-shadow: 1px 1px 2px black;
}
#speaker_search_box {
	background: none;
	border: 2px solid white;
	border-radius: 2px;
	transition: box-shadow 0.3s, border 0.3s;
	margin-left: 8px;
}
#speaker_search_box:focus {
	box-shadow: 0 0 5px 1px #969696;
}
.button {
	color: white;
	border: 2px solid white;
	border-radius: 2px;
	padding: 10px;
	margin: 2px 2px 2px 2px;
	position: relative;
	background-color: black;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
}
.button:hover {
	background-color: white;
	color: black;
}
.button:focus {
	box-shadow: none;
	outline: none;
}
.button:active {
	box-shadow: none;
	outline: none;
}
.pressed {
	background-color: white;
	color: black;
}