<img id="divider" src="img/divider.png">
<p class="r_light small white center">Sponsored by:</p>
<img id="sponsors" src="img/sponsors.png" usemap="#sponsor_links">
<map name="sponsor_links">
	<area shape="rect" coords="0,0,90,53" href="http://www.bellroy.com">
	<area shape="rect" coords="113,17,263,54" href="http://www.google.org">
	<area shape="rect" coords="289,19,343,45" href="https://ti.to">
	<area shape="rect" coords="371,12,526,48" href="https://pathable.com/">
	<area shape="rect" coords="549,20,636,46" href="https://www.quixey.com/">
	<area shape="rect" coords="60,61,142,118" href="http://www.nerdstalker.com">
	<area shape="rect" coords="190,66,425,117" href="http://www.unfoundation.org">
	<area shape="rect" coords="468,60,606,112" href="http://www.mannyramoscom.com">
</map>
<span id="fine_print" class="r_light tiny gray center">Effective Altruism Global is a project of the Centre for Effective Altruism, Registered Charity Number 1149828<br>Centre for Effective Altruism, Oxford Uehiro Centre for Practical Ethics, Littlegate House, St Ebbes Street, Oxford OX1 1PT, UK</span>